.carousel-container{
    display: flex;
    align-items: center;
}

.window{
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.wrapper-swip{
    display: flex;
    margin:15px;
}

#item{
    display: grid;
    place-content: center;
    padding: 15px;
    margin: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    border: 0px;
}

#cover{
    width: 250px;
    border-radius: 15px;
    border: 0px;
}

#title{
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 2px;
}

#artist{
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 5px;
}

button{
    margin: 5px;
}

#arrow{
    width: 30px;
    height: 30px;
    margin:15px;
}

.prev-arrow{
    padding-left: 100px;
}

.next-arrow{
    padding-right: 100px;
}