.header_menu {
    display: grid;
    align-items: center;
    place-items: center;
    grid-template-columns: 10% 60% 10% 10% 10%;
    height: 60px;
}

#logo_img{
    width: 80px;
    height: 80px;

}

#search_btn{
 
}

#login_btn{

}

#mypage_btn{

}