#theme {
    margin-left: 200px;
}

#music {
    width: 100px;
    height: 100px;
}

#hamburger {
    width: 60px;
    height: 60px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    justify-content: space-between;
}

.content1 {
    margin-right: 100px;
    padding-top: 30px;
    padding-right: 670px;
    align-items: center;
    text-align: left;
}

.content2 {
    margin-right: 100px;
    padding-top: 30px;
    padding-right: 540px;
    align-items: center;
    text-align: left;
}

.content3 {
    margin-right: 100px;
    padding-top: 30px;
    padding-right: 490px;
    align-items: center;
    text-align: left;
}

.content4 {
    margin-right: 100px;
    padding-top: 30px;
    padding-right: 710px;
    align-items: center;
    text-align: left;
}

.content5 {
    margin-right: 100px;
    padding-top: 30px;
    padding-right: 550px;
    align-items: center;
    text-align: left;
}