.search-container{
    display: flex;
    place-content: center;
    margin-top: 50px;
}

.button{
    background-color: white;
    border: 0px;
}

#inputbox{
    width: 400px;
    height: 30px;
    margin-right: 10px;
    border: 0px;
}

#serchbutton{
    width: 30px;
    height: 30px;
}

.track{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
}

#cover{
    width: 70%; 
}

#title{
    font-size: 16px;
}

#artist{
    font-size: 15px;
}

#hambuger{
    place-items: right;
    width: 45px;
    height: 45px;
}