.location{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
  .location {
    flex-direction: column;
    align-items: center;
  }
}

body{
    display: grid;
}

.wrapper{
    width:600px;
    padding:25px 30px;
}

.progress-area .song-timer,
.controls{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.img-area{
    width:100%;
    height:45vh;
    overflow:hidden;
    border-radius:15px;
}

.img-area img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.song-details{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.song-details .name{
    font-size:25px
}

.song-details .artist{
    font-size:16px;
    opacity: 0.9;
}

.progress-area{
    height: 5px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor:pointer;
}

.progress-area .progress-bar{
    height: inherit;
    width:0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, #4e7ff1 0%, #8a5a8f 100%);
}

.progress-bar::before{
    content:"";
    position:absolute;
    height: 12px;
    width:12px;
    border-radius: 50%;
    top:50%;
    right:-5px;
    z-index:2;
    opacity: 0;
    pointer-events:none;
    transform: translateY(-50%);
    background: inherit;
    transition:opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: none;
}

.progress-area, song-timer{
    margin-left:2px;
}
.song-timer span{
    font-size:13px;
    color:#515c6f;
}

.controls{
    margin: 5vh 10vh 2vh 10vh;
}

.controls img{
    width: 45px;
    height: 45px;
    cursor:pointer;
}

.controls #prev{
    margin-right: 16px;
}
.controls #next{
    margin-left: 13px;
}

.controls .play-pause{
    height:45px;
    width:45px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.play-pause::before{
    position:absolute;
    content:"";
    height:45px;
    width:45px;
}

.play-pause img{
    height:45px;
    width:45px;
    text-align:center;
    position:absolute;
}