.track{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
}

#cover{
    width: 60%;
}

#title{
    font-size: 20px;
}

#artist{
    font-size: 15px;
}

#hambuger{
    place-items: right;
    width: 30px;
    height: 30px;
}